<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('index') }}">
            <img src="{{url_for('static', filename='img/Penche.gif')}}" width="50" height="100">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('documentation') }}">
                Documentation
            </a>
            <a class="navbar-item" href="{{ url_for('locations_page') }}">
                Locations
            </a>
            <a class="navbar-item" href="{{ url_for('productions_page') }}">
                Productions
            </a>
            <a class="navbar-item" href="{{ url_for('performances_page') }}">
                Performances
            </a>
            <a class="navbar-item" href="{{ url_for('rehearsals_page') }}">
                Rehearsals
            </a>
            <a class="navbar-item" href="{{ url_for('dancers_page') }}">
                Dancers
            </a>
            <a class="navbar-item" href="{{ url_for('roles_page') }}">
                Roles
            </a>
            <a class="navbar-item" href="{{ url_for('castings_page') }}">
                Castings
            </a>
            <a class="navbar-item" href="{{ url_for('role_conflicts_page') }}">
                Conflicts
            </a>


        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>